@model MVCWebApp.Models.UserTasks.UserTasks

@{
    //ViewBag.Title = "Details";
}

<h2>Tareas</h2>

<div>
    @*<h4>UserTasks</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre</label>
            @*@Html.DisplayNameFor(model => model.Tittle)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tittle)
        </dd>

        <dt>
            <label>ID Usuario</label>
            @*@Html.DisplayNameFor(model => model.UserID)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            <label>Fecha de creación</label>
            @*@Html.DisplayNameFor(model => model.DateCreation)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            <label>Fecha de vencimiento</label>
            @*@Html.DisplayNameFor(model => model.DateDue)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-md btn-primary" })*@
    @Html.ActionLink("Aceptar", "Index", null, new { @class = "btn btn-md btn-primary" })

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
