@model IEnumerable<MVCWebApp.Models.UserTasks.UserTasks>

@{
    //ViewBag.Title = "Tareas";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tareas</h2>

<p>
    @Html.ActionLink("Nueva Tarea", "Create", null, new { @class = "btn btn-md btn-primary" })
    @*@Html.ActionLink("Crear Nueva Tarea", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            <label>Nombre</label>
            @*@Html.DisplayNameFor(model => model.Tittle)*@
        </th>
        <th>
            <label>ID Usuario</label>
            @*@Html.DisplayNameFor(model => model.UserID)*@
        </th>
        <th>
            <label>Fecha de creación</label>
            @*@Html.DisplayNameFor(model => model.DateCreation)*@
        </th>
        <th>
            <label>Fecha de vencimiento</label>
            @*@Html.DisplayNameFor(model => model.DateDue)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td class="grid-command-box centralizado">
                @Html.ActionLink("Editar", "Edit", new { id = item.TaskId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.TaskId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.TaskId })
            </td>
        </tr>
    }

</table>